.container {
    background: rgb(252, 248, 248);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 1.2rem;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.backDropContainer {
    width: 100%;
    height: 30vh;
    background: url("https://images.pexels.com/photos/270488/pexels-photo-270488.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
}

.backDropContainer>img {
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 6%;
    text-align: center;
}

.profileContainer_details {
    padding-top: 5.6rem;
    padding-left: 1rem;
}

.profileContainer_details input {
    outline: none;
    border-style: none;
    background: rgb(252, 248, 248);
    padding-bottom: 9px;
    width: fit-content;
}

.nameEdit {
    font-size: 1.8rem;
    font-weight: bold;
}

.updateProfileBtn {
    width: fit-content;
    padding-inline: 0.4rem;
    padding-block: 0.3rem;
    background: rgba(3, 93, 183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.profileContainer_details textarea {
    outline: none;
    border: none;
    background: rgb(246, 239, 239);
    padding-inline: 10px;
    padding-block: 9px;
    font-family: "Poppins" !important;
    font: size 1.1rem;
}

.card {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    width: 100%;
}

.card_profileContainer {
    display: flex;
    width: 100%;
}

.card_profileContainer>div {
    width: 100%;
    max-width: 650px;
}

.postCard {
    width: 100%;
    max-width: 650px;
    margin-bottom: 1.5rem;
}

.postImage {
    width: 100%;
    max-width: 600px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.backDrop_overlay {
    width: 9em;
    height: 9em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 6%;
    text-align: center;
    z-index: 4;
    transition: all 0.4s;
    cursor: pointer;
    color: white;
    opacity: 0.0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backDrop_overlay:hover {
    opacity: 0.6;
    background: black;
}


.connectBtn {
    padding-inline: 0.2rem;
    padding-block: 0.3rem;
    background: rgba(3, 93, 183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.connectedButton {
    padding-inline: 0.2rem;
    padding-block: 0.3rem;
    background: rgba(3, 93, 183, 0.905);
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.workHistory {
    padding-left: 1rem;
}

.workHistoryContainer {
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
}

.workHistoryCard {
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.addWorkButton {
    padding-inline: 1.3rem;
    background: white;
    border: 1px dotted silver;
    cursor: pointer;
    border-radius: 10px;
    padding-block: 1rem;
}

.education {
    padding-left: 1rem;
}

.educationContainer {
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
}

.educationCard {
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.addEducation {
    padding-inline: 1.3rem;
    background: white;
    border: 1px dotted silver;
    cursor: pointer;
    border-radius: 10px;
    padding-block: 1rem;
}

.commentsContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0, 7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.allCommentsContainer {
    width: 40vw;
    height: fit-content;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


.inputField {
    padding-inline: 1.8rem;
    padding-block: 0.6rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid silver;
    width: 100%;
}

@media screen and (max-width:600px) {
    @media screen and (max-width: 600px) {
        .container {
            width: 100%;
            min-height: 100vh;
            border-radius: 0;
            padding-bottom: 5rem;
        }

        .profileContainer_details {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .workHistory,
        .education {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .profileContainer_details textarea {
            max-width: 100%;
            padding-inline: 2px;
            padding-block: 5px;
        }
        .profileContainer_details input{
            width:60%;
        }
    }
}